*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: whitesmoke;
    opacity: 0.8;
    height: 70px;
}

.logo{
    padding-left: 30px;
    padding-top: 20px;
}

.nav-links{
    list-style: none;
    margin-right: 40px;
    margin-top: -25px;
}

.nav-links a{
    text-decoration: none;
    float: right;
    color: black;
    font-size: 18px;
    margin-right: 40px;
    padding: 5px;
}

.nav-links a:hover{
    background-color: rgb(56, 55, 55);
    color: white;
}

#home{
    background-image: url("girls studying.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    margin-top: 50px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width: 700px;
    padding: 20px;
    border-radius: 5px;
}

.detail{
    color: rgb(87, 84, 84);
}

.addition-box{
    background-color: white;
    height: 600px;
    width: 900px;
    margin: 5% auto;
    border-radius: 15px;
}

.write-blog {
    position: absolute;
    margin: 100px 50px;
}

.write-blog input[type="text"], .write-blog textarea{
    margin-top: 5px;
    padding: 8px;
    width: 700px;
}

input[type="button"]{
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(243, 40, 125);
    background-color: transparent;
    outline: none;
}

input[type="button"]:hover {
    background-color: rgb(243, 40, 125);
    color: white;
}