*{
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: tomato;
}
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
    list-style: none;
}
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}