*{
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0; 
    background: #f35;
    padding: 20px;
    height: 5vh;
}
  
  .navigation a {
    text-decoration: none;
    padding: 1em;
    color: white;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    list-style: none;
    height: 90vh;
}
  
  .flex-item {
    background: #f35;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 15px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}